<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Servicios de Estética</title>
    <link rel="stylesheet" href="../../static/css/style.css">
   

</head>
<!--inicio de servicios -->
<body>
    <header>
         <img src="../../static/imagenes/logo-1.jpeg" alt="Logo Estética" class="logo">
        <h1>Servicios de Estética</h1>
       
        <nav>
            <ul>
                 <a id="inicio"></a>
                <li><a href="../inicio/ac_cosmetologia.html">Inicio</a></li>
                <li><a href="serv.html">Servicios</a></li>
                <li><a href="../contacto-html/contacto.html">Contacto</a></li>
                <li><a href="../productos/productos.html">Productos</a></li>
            </ul>
        </nav>

              
    </header>
    
    <main> 
        
        <!-- Índice de servicios --> 
         <h2>Nuestros Servicios</h2>
            <ul class ="lista-servicios">
            
             <li><h3><a href="#limpiezas">Tratamientos Limpiezas faciales</a></h3>
            <ul>
                <li>Limpieza facial básica</li>
                <li>Limpieza facial profunda</li>
                <li>Cuello y escote</li>
                <li>Espalda y glúteos</li>
            </ul>
             </li>

             <li><h3><a href="#renovacion">Renovación celular y exfoliación profesional</a></h3>
            <ul>
                <li>Peeling clínico personalizado</li>
                <li>Peeling de algas</li>
                <li>Dermaplaning</li>
            </ul>
                </li>
            <li><h3><a href="#aparatologia">Tratamientos con aparatologia</a></h3>
            <ul>
                <li>Glow intenso</li>
                <li>Lifting sin agujas</li>
                <li>Acne control</li>
                <li>Renovación celular pro (microneedling)</li>
                <li>Hilos</li>
            </ul>
            </li>
             <li><h3><a href="#labios">Tratamientos de labios</a></h3>
            <ul> 
                <li>Hydralips express</li>
                <li>Hydralips estándar</li>
                <li>Hydralips con microneedling</li>
            </ul>
            </li>

            <li><h3><a href="#exosomas">Tratamientos con exosomas (premium)</a></h3>
            <ul>
                
                <li>Glow detox</li>
                <li>Lift and glow</li>

            </ul>   
            </li>        
            <li><h3><a href="#informacion_importante">Información Importante</a></h3>
            <ul>
                <li>Consulta previa</li>
                <li>Contraindicaciones</li>
                <li>Cuidado post-tratamiento</li>
                <li>Política de cancelación</li>
            </ul>
            </li>

            <li><h3><a href="#consultas">Consultas</a></h3>
            </li>
        </ul>
                
    </main>
    <!-- Secciones de limpiezas -->
   
    <section id="limpiezas">
        <h3 >Limpiezas faciales</h3>
            
        <ul class ="lista-servicios">
        
                <li class="servicios"><h3>Limpieza facial básica</h3>
                
                <img src ="../../static/imagenes/limpieza_facial.jpg" alt="Limpieza facial">
                
                <p>Cuidado esencial para limpiar suavemente tu piel, manteniéndola fresca y saludable.
                   Incluye: higiene, exfoliación, extracción, mascara e hidratación
                   $37.500/ $30.000 efectivo
                </p>

                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20servicio:%20Limpieza%20Facial%20Básica"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>
                </li>
                <li class="servicios"><h3>Limpieza facial profunda</h3>
                
                <img src ="../../static/imagenes/limpieza_facial_hombres.jpeg" alt="Limpieza facial profunda">
                
                <p>Además de los cuidados tradicionales de una limpieza facial combinamos enzimas que disuelven impurezas y ondas eléctricas de la alta frecuencia para estimular la circulación y mejorar la textura de tu piel para que esta luzca renovada, fresca, suave y luminosa.
                   Incluye: higiene, exfoliaciones enzimática o mecánica, extracción profunda, alta frecuencia, mascarilla, hidratación y protección solar 
                   $43.750/$35.000 efectivo
                </p>
                
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20servicio:%20Limpieza%20Facial%20Profunda"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>
            </li>
        </ul>
    
    <h3>Podes agregar a tus limpiezas</h3>
        <ul class ="lista-servicios">        
                
                <li class="servicios"><h3>Cuello y escote</h3>
                  
                <p>Incluye: exfoliación, mascara, activos hidratantes y reafirmantes según el tipo de piel
                   $28.750/$23.000 efectivo
                </p>  
                
                <h3>Espalda y glúteos</h3>
                <p>Limpieza profunda que elimina impurezas y celulas muertas, ayudando a mejorar la textura de la piel. Ideal para lucir una piel más suave y uniforme.
                   $31.250/$25.000 efectivo
                </p>
                  <img src ="../../static/imagenes/aparotologia.jpeg" alt="Cuello y escote">
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20servicio:%20Cuello%20y%20Escote"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp

                </a>
                 </li>
                <li class="servicios"><h3>Labios - Hydralips Express</h3>
                 <img src ="../../static/imagenes/hydralips.jpg" alt="Hydralips Express">   
                <p>Hidratación rápida y profunda para labios suaves, voluminosos y con un brillo natural en poco tiempo. 
                   Incluye: nutrición, exfoliación y bálsamo
                   $25.000/$20.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>
                </li>
            </ul>
    </section>
    <!-- Secciones de renovacion celular -->
    <section id="renovacion">
        <h2>Renovación celular y exfoliación profesional</h2>
            <ul class ="lista-servicios">
                <li class="servicios"><h3>Peeling químico personalizado</h3>
                
                    <img src ="../../static/imagenes/peeling.jpeg" alt="Peeling químico personalizado">
                    <p>Ideal para manchas de acné, textura irregular o líneas finas.
                   Incluye:  limpieza, aplicación de ácidos específicos y mascara post peeling.
                   1 Sesión $43.750/$35.000 efectivo
                   3 Sesiones $118.750/$95.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>
                </li>   

                <li class="servicios"><h3>Peeling de algas</h3>
                <img src ="../../static/imagenes/algas.jpeg" alt="Peeling de algas">
                <p>Se puede realizar todo el año y es apto para embarazadas! Estimula la renovacion celular profunda con ingredientes naturales. Mejora textura, poros, manchas  y firmeza.
                   1 Sesión $43.750/$35.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>
                </li>


                <li class="servicios"><h3>Dermaplaning</h3>
                <img src ="../../static/imagenes/dermaplaning.jpeg" alt="Dermaplaning">
                <p>Exfoliación suave que elimina células muertas y vello fino, dejando la piel lisa, luminosa y lista para absorber activos
                   Incluye: exfoliación y luminosidad instantánea.
                   $43.750/$35.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>
                </li>
            </ul>
    </section>
    
    <!-- Secciones de aparatologia -->
    <section id="aparatologia">
        <h2>Tratamientos con aparatologia</h2>
            <ul class ="lista-servicios">        
                
                <li class="servicios"><h3>Glow intenso</h3>
                <img src ="../../static/imagenes/foto_aparato.jpeg" alt="Glow intenso">
                </li>
               
                <li class="servicios">

                <p>Con electroporación que a través de impulsos eléctricos aumenta la absorción de activos en la piel, potenciando su hidratación y renovación. Además, se añade la mascara LED que con su terapia de luces ayuda a regenerar la piel, reducir inflamaciones y mejorar el tono y la textura. Lucí un rostro hidratado, luminoso y fresco! .
                   $43.750/$35.000 efectivo
                </p>
                <h3>Lifting sin agujas</h3>
                <p>A la electroporación le sumamos la radiofrecuencia que estimula la producción de colágeno para mejorar la firmeza y la elasticidad de la piel. Reafirma, tonifica y mejora la flacidez sin dolor.
                   Rostro $43.750/$35.000 efectivo
                   Rostro, cuello y escote $50.000/$40.000 efectivo
                </p>
               </li>
                
               <li class="servicios">
                <img src ="../../static/imagenes/acnex.jpeg" alt="Acne control">
                
                   
                
              </li> 
                
              <li class="servicios"><h3>Acne control</h3>
                <p>Desinflama , regula el sebo y mejora brotes gracias a la combinación de la alta frecuencia y la mascara led.
                   $43.750/$35.000 efectivo
                </p>
                <h3>Renovación celular pro (microneedling)</h3>
                <p>A través la utilización de micro agujas se estimula la producción de colágeno  mejorando textura, poros, manchas y líneas finas
                   1 Sesión $43.750/$35.000 efectivo
                   3 Sesiones $118.750/$95.000 efectivo
                </p>
                <h3>Hilos</h3>
                <h4>NO APTO CELIACOS</h4>
                <p>Utilizando hilos biodegradables se tensa y revitaliza la piel, mejorando su firmeza y apariencia natural. Además, estimula el colágeno y mejora visiblemente las arrugas faciales.
                  $50.000/$40.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp 
                </a>
                </li>
            </ul>
    </section>
    
    <!-- Secciones de labios -->
    <section id="labios">
        <h2>Tratamientos de labios</h2>
            <ul class ="lista-servicios">  

                <li class="servicios">
                <img src ="../../static/imagenes/hydralips.jpg" alt="Hydralips Express">
                </li>

                <li class="servicios"><h3>Hydralips express</h3>
                    <p>Hidratación rápida y profunda para labios suaves, voluminosos y con un brillo natural en poco tiempo. 
                   Incluye: nutrición, exfoliación y bálsamo
                   $25.000/$20.000 efectivo
                </p>

                <h3>Hydralips estándar</h3>
                <p>Incluye: hidratación profunda y electroporación con acido hialurónico.
                   $31.250/$25.000 efectivo
                </p>
                
                <h3>Hydralips con microneedling</h3>
                <p>Define contorno y mejora textura, hidrata en profundidad y da un efecto visual de volumen.
                   1 Sesión $37.500/$30.000 efectivo
                   3 Sesiones $100.000/ $80.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Hydralips%20con%20microneedling"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>    
                </li>
            </ul>
    </section>  
    
    <!-- Secciones de exosomas -->
    <section id="exosomas">
        <h2>Tratamientos con exosomas (premium)</h2>
            <ul class ="lista-servicios">        
                <li class="servicios">
                
                    <img src ="../../static/imagenes/exosomas.jpeg" alt="Glow detox">
                </li>
                <li class="servicios"><h3>Glow detox</h3>
                <p> Ideal para pieles opacas, con manchas o engrosadas. Renovación total, elimina tono desigual.
                    Incluye: higienización, dermaplaning, microneedling con Exosomas, mascara LED, sellado con hidratación y protector solar.
                    $62.500/$50.000 efectivo
                </p>
                
                <h3>Lift and glow</h3>
                <p>Rejuvenecimiento facial para pieles con flacidez, líneas finas o perdida de luminosidad.
                   Incluye:  higienización, dermaplaning, microneedlig con Exosomas, mascara LED, masaje tensor, hidratación y protección solar
                   $62.500/$50.000 efectivo
                </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>    
                </li>
            </ul>
    </section>

    <!-- Sección de consultas-->
     <section id="consultas">
        <ul class ="lista-servicios">        
                <li class="servicios">
                
                    <img src ="../../static/imagenes/consultas.jpeg" alt="Consultas">
                </li>
                <li class="servicios"><h2>Consultas</h2>
       <p>Consulta $25.000/ $20.000 efectivo
            </p>
                <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20servicio:%20Consultas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp
                </a>    
                </li>
            </ul>
    </section>
    
    <!-- Sección de información importante-->
    <section id="informacion_importante">
        <h2><strong>Información Importante</strong></h2>
            <h4>Antes de reservar cualquier tratamiento, es fundamental que leas la siguiente información:</h4>
            <ul class ="lista-servicios">
                <li>Consulta previa: Recomendamos una consulta inicial para evaluar tu piel y determinar el tratamiento más adecuado.</li>
                <li>Contraindicaciones: Algunos tratamientos pueden no ser adecuados para personas con ciertas condiciones médicas. Por favor, infórmanos sobre cualquier problema de salud antes de reservar.</li>
                <li>Cuidado post-tratamiento: Sigue las indicaciones proporcionadas por nuestro personal para asegurar los mejores resultados y evitar complicaciones.</li>
                <li>Política de cancelación: Si necesitas cancelar o reprogramar tu cita, por favor avísanos con al menos 24 horas de antelación.</li>
            </ul>

    </section>
    
    <p><a href="#inicio">Volver al inicio</a></p>
    <footer>
        <p>© 2026 Centro de Estética</p>
        <a href="https://www.instagram.com/cosmetologa.ac/"
             target="_blank"
            rel="noopener"
             class="btn-instagram">
            Instagram
            </a>

    </footer>
   
</body>


</html>
